<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css"/>
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboard">
        <h1 class="text-cent fat">Welcome to Co-write.me your personal  Co-Author</h1>
    <p class="text-cent"> This is you AI Helper for Writing blog article , stories and various other things of your choice  </p>
<div class="logoutbtn">    <a href="{{url_for('logout')}}">Logout</a>
</div>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="cow">{{ form.text }}</div>
        <div>{{ form.submit }}</div>
    </form>
    <div class="text-reply">
        {{reply}}
    </div>
    </div>
    
</body>

</html>