<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co-Here.me</title>
    <link rel="stylesheet" href="./static/style.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
</head>
<body onload="typeWriter()">
    <section>
        <nav>
            <div class="header">
                <div class="logo-img">
                    <img src="./static/images/coherelogo.png" alt="">
                </div>
            </div>
            <div class="content-tems">
                <a href="/login"><p>Login</p></a>
                <a href="/register"><p>Register</p></a>
            </div>
        </nav>

        <section class="main">
            <!-- <div class="swiper"> -->
                <!-- <div class="swiper-wrapper"> -->
                    <div class="background-cover">
                        <div class="cover-illust"></div>
                        <img src="./static/images/img1.png" alt="">
                    </div>
                <!-- </div> -->
            <!-- </div> -->
            
            <div class="text-center mt-10">
                <h1 class="text-header">Construct</h1>
                <p id="demo">Generate ideas and Write a stunning piece of work</p>
                <a href="/login">
                <button class="get-started">
                    Get Started
                </button>
            </a>
            </div>
           
        </section>
        <section class="w-80">
            <div class="grid-2 mt-10 text-color-white mb-10">
                <div>
                    <h2 class="text-xl">About Co-Here.me</h2>
                    <p class="mt-2 font-semibold">Writing can be bit difficult , and getting various ideas from friends and families can be useful </p>
                    <p class="mt-2 font-semibold"> But when they are not avaible or for the time when you need a little help to just write an article co-writeme is here</p>
                    <p class="mt-2 font-semibold">Co-write me provides a place where users can write their sentences and ai can generate the next few sentences creating a much more fun experience of writing</p>
                    <!-- <p class="mt-2 font-semibold">Lorem ipsum dolor sit amet, consectetur adipisicinghei elit. Blanditiis maxime aut sunt tenetur inventore adipisci, ea, illo dignissimos itaque, velit reprehenderit qui optio fugiat harum voluptas? Dolorem rerum cupiditate error.</p> -->
                    <!-- <p class="mt-2 font-semibold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis maxime aut sunt tenetur inventore adipisci, ea, illo dignissimos itaque, velit reprehenderit qui optio fugiat harum voluptas? Dolorem rerum cupiditate error.</p> -->
                </div>
                <div class="border" onload="typeWriter2()">
                    <p class="font-semibold" id="demo2"></p>
                </div>
            </div>
        </section>
        
        <footer>
            <section class="w-50">
                <div class="grid-3 pt-10 text-color-white">
                    <div>
                        <div class="footer-img">
                            <img src="./static/images/coherelogo.png" alt="">
                        </div>
                        <div class="sssd">
                            <p>Generate something amazing</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg">Product</h2>
                        <div class="flex sssd">
                            <a href="" >Github</a>
                        </div>
                    </div>
                    <div class="text-right">
                        <h2 class="text-lg">Developed by</h2>
                        <div class="sssd">
                            <p><a href="https://github.com/SamShr12" >Samyam</a>, <a href="https://github.com/Ashwot-Acharya">Ashwot</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </section>
    <script>
        var i = 0;
        var txt = " as the time goes on the god of fire gets anxious . She wishes to get out and explore away from her fire . She has a plan to make her way to another dimension.The first thing that happened to me after the first few years was that my mother's mind began to change. My father's, too. He was the one who  as the time goes on the god of fire gets anxious . She wishes to get out and explore away from her fire . That's what they told themselves, that the change was permanent. As I grew older I realized that this was not true. Their minds had become more complex, more sophisticated and more intelligent. In fact, I think that their minds were so complex ";
        var speed = 90;

        function typeWriter() {
        if (i < txt.length) {
            document.getElementById("demo2").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
        }

        // function typeWriter2() {
        // if (i < txt2.length) {
        //     document.getElementById("demo2").innerHTML += txt2.charAt(i);
        //     i++;
        //     setTimeout(typeWriter2, speed);
        // }
        // }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>